#header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#container .ql-editor {
  width: 40rem;
  min-height: 60rem;
  padding: 3rem;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
  background-color: white;
}

#container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

#container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #F3F3F3;
  border: none;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .5);
}
